{% extends "tasks/layout.html" %}
{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body{
            background-color: aqua;
        }
        .center_div {
            
            padding-right: 20%;
            padding-left: 20%;
            margin-top: 1px;
        }
       
        .text-lg{
            font-size: 150px;
        }
    </style>
    <h1 class="text-center text-lg"> Todo App </h1>
    <br>
    <dv class="text-center ">
        <form method="POST" action="/">
            {% csrf_token %}
            <div class="form-group">
                {{form.title}}
                <button class="btn btn-info" type="submit" >submit</button>
            </div>
        </form>
    </dv>
    
        
    
    <br>
    {% for task in tasks %}
    <div class="center_div text-left">
        <ul class="lis-group ">
            {% if task.complete == True %}
                <li class="list-group-item bg-warning">
                    <a class="btn btn-info"href="{% url 'update' task.id%}">update</a>
                    <a class="btn btn-danger"href="{% url 'delete' task.id%}">delete</a>
                    <strike class="font-weight-bold text-capitalize">{{task}}</strike>
                    <span class="small text-info">{{task.created.day}}/{{task.created.month}}/{{task.created.year}}    {{task.created.hour}}:{{task.created.minute}}</span>
                    
                </li>
            {% else %}
                <li class="list-group-item bg-warning">
                    <a class="btn btn-info"href="{% url 'update' task.id%}">update</a>
                    <a class="btn btn-danger"href="{% url 'delete' task.id%}">delete</a>
                    <span class="font-weight-bold text-capitalize">{{task}}</span>
                    <span class="small text-info">{{task.created.day}}/{{task.created.month}}/{{task.created.year}}    {{task.created.hour}}:{{task.created.minute}}</span>
                    
                </li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}
        
{% endblock %}